.blog .card{
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
  width: 345px;
}
.blog .card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.blog .img-card {
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  position: relative;
  overflow: hidden;
}
.blog .tag{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.blog img{
  height: 170px;
  width: 300px;
  object-fit: cover;
}
.blog .img-card:hover img, .desImg img:hover{
  transform:scale(1.1);
}
.blog img:hover{
  filter: saturate(180%);
}
.blog .img-card img{
  height: 250px;
  width: 350px;
  object-fit: cover;
  transition: all .25s ease;
}
.blog .card-title {
  font-weight: 700;
  font-size: 1.35em;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
.miniatura{
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 5px;
}
.miniatura:hover {filter: opacity(.5);}
.blog .slider img{
  height: 400px;
  width: 600px;
  object-fit: cover;
  transition: all .25s ease;
}

.hr-warning{
  height: 2px;
  margin: 30px 0;
  background-image: linear-gradient(to right top, #7f8429, #998f24, #b79920, #d7a11f, #f9a825);
}

.conta-place {
  display: flex;
  width: 100%;
  padding: 1% 0.5%;
  box-sizing: border-box;
  height: 400px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 0.5%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.banner-about{
  background:linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),  url('/images/FOTOGRAMA-74.jpg');
  background-attachment:fixed;
  background-size:cover;
}
.blur{
  -webkit-filter:blur(1.8px);
  filter:blur(1.8px);
}

.box > span {
  font-size: 12px;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 1.5;
  margin:5% 5%;
}
.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
.expedia-color{
  color: #00355F;
}
.tripadvisor-color{
  color: #00af87;
}
.bg-rgba-dark-6{
  background: rgba(0,0,0,.5)!important;
}
.cont:hover .trans {
  transition:all .5s ease-in-out;
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}
.cont {overflow:hidden;}